<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="css/punchfork-81HpuHrf7cX.css"/>
</head>
<body>
<div class="site-header" id="dark-header">
  <div id="inner-header" class="fullscreen">
    <a class="logo">Punchfork</a>
    <div class="clear-float"></div>
  </div>
</div>
<div id="page" class="fullscreen">
  <div id="marquee">
    <div id="marquee-title">
      <h1>{{marquee_title_name}}</h1>
      <span class="publisher-avatar medium"><img src="{{marquee_title_avatar}}"/></span>
    </div>
    <div class="meta"></div>
  </div>
  <div id="recipe-cards">
    <div id="end-marker">
      <div class="notice"></div>
    </div>
  </div>
  <div class="clear-float"></div>
</div>
</body>
</html>

